	<% debugger %>
	<% @incomes.each do |income| %>
		<tr>
			<td><%= income.id %></td>
			<td><%= income.date %></td>
			<td><%= income.description %></td>
			<td>Category</td>
			<td><%= income.amount %></td>
			<td><%= link_to "Update", '#' %> | <%= link_to "Delete", '#' %></td>
		</tr>
	<% end %>