<% provide(:title, "Income") %>
<h1>Income Listing</h1>

<table>
	<tr>SN.</tr>
	<tr>Date</tr>
	<tr>Description</tr>
	<tr>Category</tr>
	<tr>Amount</tr>
	<tr></tr>

	<% @incomes.each do |income| %>
		<tr>
			<td><%= @income.id %></td>
			<td><%= @income.date %></td>
			<td><%= @income.description %></td>
			<td><%= @income.category %></td>
			<td><%= @income.amount %></td>
			<td><%= link_to "Update", '#' %> | <%= link_to "Delete", '#' %></td>
		</tr>
	<% end %>
</table>