<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <!-- Including Highcharts and Framework -->
  <script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<!-- <body>

		<div class="container">
				<%#= render 'layouts/header' %>

				<%# flash.each do |message_type, message| %>
					<div class="alert alert-<%#= message_type %>"><%#= message %></div>
				<%# end %>
				<%#= yield %>	

				<%#= render 'layouts/footer' %>
		</div>

</body> -->
<body id="page-top">
	<% if notice %>
		<div id="notice_wrapper">
			<p class="notice"><%= notice %></p>
		</div>
	<% elsif alert %>
		<div id="notice_wrapper">
		<p class="alert"><%= alert %></p>
		</div>
	<% end %>
	<%= render 'layouts/header' %>
		<% flash.each do |message_type, message| %>
			<div class="alert-<%= message_type %>
			">
				<% if message %>
					<div id="notice_wrapper">
						<p class="notice"><%= message %></p>
					</div>
				<% end %>
			</div
		<% end %>
	<%= yield %>
	<%= render 'layouts/footer' %>

	
</body>
</html>